@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*UNIVERSAL STYLE*/

body{ 
	background-color:white;
	background-repeat:no-repeat;
	background-position:center;
	background-size:auto;
	position:center;
	justify-content:center;
}

#logo{
	width:4.65%;
	height:4.65%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:2%;
}

#titletext{
	margin:auto;
	padding-bottom:50px;
	text-align:center;
	color:black;
	font-family: Courier;
	font-size:40px;
}

*{
	font-family:Courier;
}

/*UPPER/IMAGEFRAME STYLE*/

.imagediv{
	padding-top:20%;
	padding-left:25%;
	display:inline-block;
}

.outputdiv{
	padding-top:20%
	padding-left: 100px;
	margin-left: 35%;
	display:inline-block;
}

#imageinput{
	color:black;
	font-family:Courier;
	font-size:20px;
}

#outputgraphic{
	color:black;
	font-family:Courier;
	font-size:20px;
}

/*LOWER/BUTTON STYLE*/

input[type="file"]{
    display:none;
}

input[type="submit"]{
    display:none;
}

.button{
    border:1px solid #ccc;
    display:inline-block;
    padding:6px 12px;
    cursor:pointer;
    font-weight:bold;
}

.submitdiv{
	padding-top:20px;
	padding-left:10%;
	color:white;
}

.algorithmdiv{
	padding-top:60px;
	padding-left:10%;
	color:white;
}

.lowerdiv{
	background-color:black;
	padding-bottom:50px;
}

#submitbutton{
	border-radius:50px;
}

#algorithmbutton{
	border-radius:50px;
}

#bottomtext{
	margin-top:10%;
	display:block;
	text-align:right;
	color:white;
}